@import url("https://dokie.li/media/css/basic.css");

.form-tests label {
width: 18%;
text-align: right;
padding: 0.25em;
}
input[name="test-receiver-reject"],
input[name="test-receiver-get-notifications-limited"] {
width:auto;
margin-left:16.5%;
}
.form-tests label[for="test-receiver-reject"],
.form-tests label[for="test-receiver-get-notifications-limited"] {
width:65%;
text-align:left;
vertical-align: middle;
}
#test-consumer label {
width:auto;
padding-left:0;
text-align:left;
}
#test-consumer li {
margin-top:1em;
}
#test-consumer li:first-child {
margin-top:0;
}

#test-consumer textarea {
width:calc(100% - 0.5em);
}

.form-tests [type="submit"] {
margin-left:16.5%;
}
#test-receiver-response pre { overflow: auto; }
.dn { display:none }

code { color: #c83500; }

td, th {
border: 1px solid #ccc;
border-left-color: #eee;
border-right-color: #eee;
padding:0.25em;
}

.test-description { width: 50%; }
.test-message ul { list-style-position: inside; }

#ldn-test-receiver-summary tr:nth-of-type(2) td {
max-width: 2em; overflow: hidden;
}

#test-request-response-data dt {
font-weight: bold;
}
#test-request-response-data dd {
margin:0;
}
